In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))

In [4]:
df

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [5]:
#修改索引
df.index = ["A","B","C"]

In [6]:
df

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [7]:
#本身取行并重新赋值
df.reindex(["A","F","C"])

     W    X     Y     Z
A  0.0  1.0   2.0   3.0
F  NaN  NaN   NaN   NaN
C  8.0  9.0  10.0  11.0

In [8]:
df.index = list("WXY")

In [9]:
df

   W  X   Y   Z
W  0  1   2   3
X  4  5   6   7
Y  8  9  10  11

In [10]:
#把某一列设置为索引
df.set_index("W")

   X   Y   Z
W
0  1   2   3
4  5   6   7
8  9  10  11

In [11]:
df.set_index("W",drop=False) #不希望删除这列

   W  X   Y   Z
W
0  0  1   2   3
4  4  5   6   7
8  8  9  10  11

In [12]:
#去重
df.set_index("W").index.unique()

Int64Index([0, 4, 8], dtype='int64', name='W')

In [13]:
#DataFrame设置两个索引
df.set_index(["W","X"])

      Y   Z
W X
0 1   2   3
4 5   6   7
8 9  10  11

In [14]:
df.set_index(["W","X"]).index

MultiIndex(levels=[[0, 4, 8], [1, 5, 9]],
           codes=[[0, 1, 2], [0, 1, 2]],
           names=['W', 'X'])

In [26]:
#series索引取值

In [27]:
a = pd.DataFrame({'a': range(7),'b': range(7, 0, -1),'c': ['one','one','one','two','two','two', 'two'],'d': list("hjklmno")})

In [28]:
a

   a  b    c  d
0  0  7  one  h
1  1  6  one  j
2  2  5  one  k
3  3  4  two  l
4  4  3  two  m
5  5  2  two  n
6  6  1  two  o

In [29]:
df1 = a.set_index(["c","d"])["a"]

In [30]:
df1 #c,d都是series

c    d
one  h    0
     j    1
     k    2
two  l    3
     m    4
     n    5
     o    6
Name: a, dtype: int64

In [31]:
df1["one","j"] #series复合索引取值

1

In [32]:
df1["one"] #取值是series

d
h    0
j    1
k    2
Name: a, dtype: int64

In [33]:
df2 = a.set_index(["d","c"])["a"] #交换索引

In [34]:
df2

d  c
h  one    0
j  one    1
k  one    2
l  two    3
m  two    4
n  two    5
o  two    6
Name: a, dtype: int64

In [35]:
df2.index

MultiIndex(levels=[['h', 'j', 'k', 'l', 'm', 'n', 'o'], ['one', 'two']],
           codes=[[0, 1, 2, 3, 4, 5, 6], [0, 0, 0, 1, 1, 1, 1]],
           names=['d', 'c'])

In [36]:
#从内往外取步骤1
df2.swaplevel()

c    d
one  h    0
     j    1
     k    2
two  l    3
     m    4
     n    5
     o    6
Name: a, dtype: int64

In [37]:
#从内往外取步骤2
df2.swaplevel()["one"]

d
h    0
j    1
k    2
Name: a, dtype: int64

In [38]:
#Dataframe索引取值

In [41]:
df1

c    d
one  h    0
     j    1
     k    2
two  l    3
     m    4
     n    5
     o    6
Name: a, dtype: int64

In [42]:
df1.loc["one"]

d
h    0
j    1
k    2
Name: a, dtype: int64

In [43]:
df1.loc["one"].loc["h"]

0

In [44]:
df2

d  c
h  one    0
j  one    1
k  one    2
l  two    3
m  two    4
n  two    5
o  two    6
Name: a, dtype: int64

In [46]:
df1.swaplevel().loc["h"]

c
one    0
Name: a, dtype: int64