In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))

In [3]:
df

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [5]:
#修改索引
df.index = ["A","B","C"]

In [6]:
df

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [9]:
#本身取行并重新赋值
df.reindex(["A","F","C"])

     W    X     Y     Z
A  0.0  1.0   2.0   3.0
F  NaN  NaN   NaN   NaN
C  8.0  9.0  10.0  11.0

In [10]:
df.index = list("WXY")

In [11]:
df

   W  X   Y   Z
W  0  1   2   3
X  4  5   6   7
Y  8  9  10  11

In [12]:
#把某一列设置为索引
df.set_index("W")

   X   Y   Z
W
0  1   2   3
4  5   6   7
8  9  10  11

In [13]:
df.set_index("W",drop=False) #不希望删除这列

   W  X   Y   Z
W
0  0  1   2   3
4  4  5   6   7
8  8  9  10  11

In [15]:
#去重
df.set_index("W").index.unique()

Int64Index([0, 4, 8], dtype='int64', name='W')

In [16]:
#DataFrame设置两个索引
df.set_index(["W","X"])

      Y   Z
W X
0 1   2   3
4 5   6   7
8 9  10  11

In [17]:
df.set_index(["W","X"]).index

MultiIndex(levels=[[0, 4, 8], [1, 5, 9]],
           codes=[[0, 1, 2], [0, 1, 2]],
           names=['W', 'X'])