In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [2]:
# 填充销量

In [3]:
data = pd.read_excel('../数据探索/实验数据/catering_sale.xls')

In [4]:
data.head()

          日期      销量
0 2015-03-01    51.0
1 2015-02-28  2618.2
2 2015-02-27  2608.4
3 2015-02-26  2651.9
4 2015-02-25  3442.1

In [5]:
data[data['销量'].isnull().values]

           日期  销量
14 2015-02-14 NaN

In [6]:
from scipy.interpolate import lagrange

x = list(np.arange(14-5,14))+list(np.arange(15,15+5))

In [7]:
x

[9, 10, 11, 12, 13, 15, 16, 17, 18, 19]

In [8]:
y = data.loc[x,:]

In [9]:
y

           日期      销量
9  2015-02-20  4060.3
10 2015-02-19  3614.7
11 2015-02-18  3295.5
12 2015-02-16  2332.1
13 2015-02-15  2699.3
15 2015-02-13  3036.8
16 2015-02-12   865.0
17 2015-02-11  3014.3
18 2015-02-10  2742.8
19 2015-02-09  2173.5

In [10]:
p = lagrange(x,y['销量'].values)

In [11]:
p

poly1d([ 1.13111497e-01, -1.38761428e+01,  7.50194421e+02, -2.34576370e+04,
        4.67493324e+05, -6.15792883e+06,  5.36130545e+07, -2.97517089e+08,
        9.54986023e+08, -1.35105075e+09])

In [12]:
type(p)

numpy.poly1d

In [13]:
p(14)

4156.860423326492