In [1]:
import numpy as np
import pandas as pd

In [2]:
t = pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))

t.iloc[1:,:2] = np.NAN

In [3]:
t

     W    X   Y   Z
a  0.0  1.0   2   3
b  NaN  NaN   6   7
c  NaN  NaN  10  11

In [4]:
pd.isnull(t)

       W      X      Y      Z
a  False  False  False  False
b   True   True  False  False
c   True   True  False  False

In [5]:
pd.notnull(t)

       W      X     Y     Z
a   True   True  True  True
b  False  False  True  True
c  False  False  True  True

In [6]:
t1 = t

In [7]:
#缺失值方法处理一:删除NaN
t1.dropna(axis=0,how='any',inplace=True) #how默认为any(只要存在NaN就会删除，而all是全为NaN删除),inpleace默认为False(Trun为直接修改原值)

In [8]:
t1

     W    X  Y  Z
a  0.0  1.0  2  3

In [9]:
t2 =  pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))

t2.iloc[1:,:2] = np.NAN

In [10]:
t2

     W    X   Y   Z
a  0.0  1.0   2   3
b  NaN  NaN   6   7
c  NaN  NaN  10  11

In [11]:
#缺失值方法处理二:用平均数填充
t2.fillna(t2.mean())

     W    X   Y   Z
a  0.0  1.0   2   3
b  0.0  1.0   6   7
c  0.0  1.0  10  11

In [12]:
t2

     W    X   Y   Z
a  0.0  1.0   2   3
b  NaN  NaN   6   7
c  NaN  NaN  10  11

In [13]:
t2["W"] = t2["W"].fillna(t2["W"].mean()) #单独填充某一列

In [14]:
t2

     W    X   Y   Z
a  0.0  1.0   2   3
b  0.0  NaN   6   7
c  0.0  NaN  10  11

In [15]:
t2["X"].mean() #pandas的nan不参与计算,在求和数据时，NA将被视为0如果数据全部是NA，那么结果将是NA

1.0

In [16]:
#缺失值方法处理三:用标量值替换
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print()
print (df.fillna(method='pad'))
'''
pad/fill
填充方法向前

bfill/backfill
填充方法向后
'''

        one       two     three
a  0.169118 -0.673012  0.174004
b       NaN       NaN       NaN
c -0.697581  0.386474  0.920780
d       NaN       NaN       NaN
e  0.182266  0.784530  0.296251
f -1.060580 -0.811452  0.005435
g       NaN       NaN       NaN
h -0.111904 -1.217429  0.478640

        one       two     three
a  0.169118 -0.673012  0.174004
b  0.169118 -0.673012  0.174004
c -0.697581  0.386474  0.920780
d -0.697581  0.386474  0.920780
e  0.182266  0.784530  0.296251
f -1.060580 -0.811452  0.005435
g -1.060580 -0.811452  0.005435
h -0.111904 -1.217429  0.478640

'\npad/fill\n填充方法向前\n\nbfill/backfill\n填充方法向后\n'