In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('./data.csv')

In [3]:
data

     地区  新增确诊   累计确诊     治愈    死亡
0    湖北   126  67592  41966  2931
1    广东     1   1351   1209     7
2    河南     0   1272   1242    22
3    浙江     0   1215   1153     1
4    湖南     0   1018    952     4
5    安徽     0    990    970     6
6    江西     0    935    908     1
7    山东     0    758    602     6
8    江苏     0    631    588     -
9    重庆     0    576    513     6
10   四川     0    539    428     3
11  黑龙江     0    481    380    13
12   北京     4    422    298     8
13   上海     1    339    306     3
14   河北     0    318    305     6
15   福建     0    296    278     1
16   广西     0    252    217     2
17   陕西     0    245    224     1
18   云南     0    174    170     2
19   海南     0    168    158     6
20   贵州     0    146    114     2
21   天津     0    136    128     3
22   山西     0    133    126     -
23   辽宁     0    125    106     1
24   香港     0    104     46     2
25   甘肃    11    102     87     2
26   吉林     0     93     89     1
27   新疆     0     76     70     3
28   宁夏     0     75     69     -
29  内蒙古     0     75     65     1
30   台湾     2     44     12     1
31   青海     0     18     18     -
32   澳门     0     10      9     -
33   西藏     0      1      1     -

In [4]:
#将-转换为0
data = data.replace('-',0)

In [5]:
data

     地区  新增确诊   累计确诊     治愈    死亡
0    湖北   126  67592  41966  2931
1    广东     1   1351   1209     7
2    河南     0   1272   1242    22
3    浙江     0   1215   1153     1
4    湖南     0   1018    952     4
5    安徽     0    990    970     6
6    江西     0    935    908     1
7    山东     0    758    602     6
8    江苏     0    631    588     0
9    重庆     0    576    513     6
10   四川     0    539    428     3
11  黑龙江     0    481    380    13
12   北京     4    422    298     8
13   上海     1    339    306     3
14   河北     0    318    305     6
15   福建     0    296    278     1
16   广西     0    252    217     2
17   陕西     0    245    224     1
18   云南     0    174    170     2
19   海南     0    168    158     6
20   贵州     0    146    114     2
21   天津     0    136    128     3
22   山西     0    133    126     0
23   辽宁     0    125    106     1
24   香港     0    104     46     2
25   甘肃    11    102     87     2
26   吉林     0     93     89     1
27   新疆     0     76     70     3
28   宁夏     0     75     69     0
29  内蒙古     0     75     65     1
30   台湾     2     44     12     1
31   青海     0     18     18     0
32   澳门     0     10      9     0
33   西藏     0      1      1     0

In [9]:
#将死亡这一列转换为int
data['死亡'] = data['死亡'].apply(int)
#data['死亡'] = data['死亡'].map(int)
#data = data.applymap(int)

In [10]:
data.describe()

             新增确诊          累计确诊            治愈           死亡
count   34.000000     34.000000     34.000000    34.000000
mean     4.264706   2373.823529   1582.558824    89.558824
std     21.602902  11530.604553   7145.435179   502.088981
min      0.000000      1.000000      1.000000     0.000000
25%      0.000000    102.500000     87.500000     1.000000
50%      0.000000    248.500000    220.500000     2.000000
75%      0.000000    617.250000    569.250000     6.000000
max    126.000000  67592.000000  41966.000000  2931.000000

In [12]:
for i in data:
    print(i)

地区
新增确诊
累计确诊
治愈
死亡