In [1]:
import numpy as np

In [2]:
#本地数据读取
us_file_path = "./youtube_video_data/US_video_data_numbers.csv"

uk_file_path = "./youtube_video_data/GB_video_data_numbers.csv"

In [3]:
t1 = np.loadtxt(us_file_path,delimiter=",",dtype="int",unpack=True)

t2 = np.loadtxt(us_file_path,delimiter=",",dtype="int")

In [4]:
t2

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708],
       ...,
       [ 142463,    4231,     148,     279],
       [2162240,   41032,    1384,    4737],
       [ 515000,   34727,     195,    4722]])

In [5]:
#切片

In [6]:
a = np.arange(10)

In [7]:
a[slice(2,9,2)]

array([2, 4, 6, 8])

In [8]:
a[range(2,7,3)]

array([2, 5])

In [9]:
#索引

In [10]:
#取单行(从0开始)
t2[2] #第3行

array([5845909,  576597,   39774,  170708])

In [11]:
#取连续的多行(从0开始，左闭右开)
t2[:3] #第1,2,3行

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708]])

In [12]:
#取不连续的多行(从0开始)
t2[[2,8,10]] #第3,9,11行

array([[5845909,  576597,   39774,  170708],
       [1338533,   69687,     678,    5643],
       [ 859289,   34485,     726,    1914]])

In [13]:
t2

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708],
       ...,
       [ 142463,    4231,     148,     279],
       [2162240,   41032,    1384,    4737],
       [ 515000,   34727,     195,    4722]])

In [14]:
#取单列
t2[:,2] #第3列

array([ 5931, 26679, 39774, ...,   148,  1384,   195])

In [15]:
#取连续的多列(从0开始，左闭右开)
t2[:,1:3] #第2,3列

array([[320053,   5931],
       [185853,  26679],
       [576597,  39774],
       ...,
       [  4231,    148],
       [ 41032,   1384],
       [ 34727,    195]])

In [16]:
#取不连续的多列(从0开始)
t2[:,[0,2]] #第1,3列

array([[4394029,    5931],
       [7860119,   26679],
       [5845909,   39774],
       ...,
       [ 142463,     148],
       [2162240,    1384],
       [ 515000,     195]])

In [17]:
t2

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708],
       ...,
       [ 142463,    4231,     148,     279],
       [2162240,   41032,    1384,    4737],
       [ 515000,   34727,     195,    4722]])

In [18]:
#取多行多列
t2[2,3] #取第3行，第4列的值

170708

In [19]:
type(t2[2,3]) #注意数据类型

numpy.int32

In [20]:
#取第3行到第5行，第2列到第4列
#取得行和列的交叉点位置
t2[2:5,1:4]

array([[576597,  39774, 170708],
       [ 24975,   4542,  12829],
       [ 96666,    568,   6666]])

In [21]:
#取第1行和第3行，第1列和第2列
#取多个不相邻的点
t2[[0,2],[0,1]] #(0,0)和(2,1)

array([4394029,  576597])

In [22]:
#花式索引
x = np.arange(32).reshape(8,4)
print(x)
print()
print(x[np.ix_([1,5,7,2],[0,3,1,2])]) #行列顺序打乱

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

[[ 4  7  5  6]
 [20 23 21 22]
 [28 31 29 30]
 [ 8 11  9 10]]

In [23]:
#数值修改与布尔索引

In [24]:
t1

array([[4394029, 7860119, 5845909, ...,  142463, 2162240,  515000],
       [ 320053,  185853,  576597, ...,    4231,   41032,   34727],
       [   5931,   26679,   39774, ...,     148,    1384,     195],
       [  46245,       0,  170708, ...,     279,    4737,    4722]])

In [25]:
#修改第1行第2列的值为0(0,1)
t1[0,1] = 0

In [26]:
#将t1中小于10的值修改为3
t1[t1<10]=3

In [27]:
t1

array([[4394029,       3, 5845909, ...,  142463, 2162240,  515000],
       [ 320053,  185853,  576597, ...,    4231,   41032,   34727],
       [   5931,   26679,   39774, ...,     148,    1384,     195],
       [  46245,       3,  170708, ...,     279,    4737,    4722]])

In [28]:
#将t1中小于等于10的值修改为0，大于10的值修改为1
np.where(t1<=10,0,1)

array([[1, 0, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 0, 1, ..., 1, 1, 1]])

In [29]:
#将t1中小于10的数字替换为10，把大于20的替换为20，大于10小于20的数不变
t1.clip(10,20) #包不包含10或20无所谓

array([[20, 10, 20, ..., 20, 20, 20],
       [20, 20, 20, ..., 20, 20, 20],
       [20, 20, 20, ..., 20, 20, 20],
       [20, 10, 20, ..., 20, 20, 20]])