In [1]:
import numpy as np

In [2]:
#本地数据读取
us_file_path = "./youtube_video_data/US_video_data_numbers.csv"

uk_file_path = "./youtube_video_data/GB_video_data_numbers.csv"

In [3]:
t1 = np.loadtxt(us_file_path,delimiter=",",dtype="int",unpack=True)

t2 = np.loadtxt(us_file_path,delimiter=",",dtype="int")

In [4]:
t2

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708],
       ...,
       [ 142463,    4231,     148,     279],
       [2162240,   41032,    1384,    4737],
       [ 515000,   34727,     195,    4722]])

In [5]:
#取单行(从0开始)
t2[2] #第3行

array([5845909,  576597,   39774,  170708])

In [6]:
#取连续的多行(从0开始，左闭右开)
t2[:3] #第1,2,3行

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708]])

In [8]:
#取不连续的多行(从0开始)
t2[[2,8,10]] #第3,9,11行

array([[5845909,  576597,   39774,  170708],
       [1338533,   69687,     678,    5643],
       [ 859289,   34485,     726,    1914]])

In [9]:
t2

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708],
       ...,
       [ 142463,    4231,     148,     279],
       [2162240,   41032,    1384,    4737],
       [ 515000,   34727,     195,    4722]])

In [10]:
#取单列
t2[:,2] #第3列

array([ 5931, 26679, 39774, ...,   148,  1384,   195])

In [11]:
#取连续的多列(从0开始，左闭右开)
t2[:,1:3] #第2,3列

array([[320053,   5931],
       [185853,  26679],
       [576597,  39774],
       ...,
       [  4231,    148],
       [ 41032,   1384],
       [ 34727,    195]])

In [12]:
#取不连续的多列(从0开始)
t2[:,[0,2]] #第1,3列

array([[4394029,    5931],
       [7860119,   26679],
       [5845909,   39774],
       ...,
       [ 142463,     148],
       [2162240,    1384],
       [ 515000,     195]])

In [13]:
t2

array([[4394029,  320053,    5931,   46245],
       [7860119,  185853,   26679,       0],
       [5845909,  576597,   39774,  170708],
       ...,
       [ 142463,    4231,     148,     279],
       [2162240,   41032,    1384,    4737],
       [ 515000,   34727,     195,    4722]])

In [17]:
#取多行多列
t2[2,3] #取第3行，第4列的值

170708

In [18]:
type(t2[2,3]) #注意数据类型

numpy.int32

In [19]:
#取第3行到第5行，第2列到第4列
#取得行和列的交叉点位置
t2[2:5,1:4]

array([[576597,  39774, 170708],
       [ 24975,   4542,  12829],
       [ 96666,    568,   6666]])

In [20]:
#取第1行和第3行，第1列和第2列
#取多个不相邻的点
t2[[0,2],[0,1]] #(0,0)和(2,1)

array([4394029,  576597])