In [6]:
import numpy as np
import pandas as pd
import random

In [7]:
#隐式构造

In [8]:
data = np.random.randint(0,100,size=4)
s = pd.Series(data,index=[['期中','期中','期末','期末'],['语文','数学','语文','数学']])
print(s)
print()
print(s.loc['期末','语文'])

期中  语文    79
    数学    77
期末  语文    67
    数学    33
dtype: int32

67

In [9]:
#显示构造

In [10]:
#列表
indexs = pd.MultiIndex.from_arrays([['期中','期中','期中','期末','期末','期末'],['语文','数学','外语','语文','数学','外语']])
columns = ['tom','jack','rose']
data = np.random.randint(0,150,size=(6,3)) #6行三列
pd.DataFrame(data,index=indexs,columns=columns)

       tom  jack  rose
期中 语文  110   105   126
   数学   23    61   134
   外语  127   111    45
期末 语文   86    31    31
   数学  104     5   102
   外语    1   126    84

In [11]:
#from_tuples，以元组构造

In [14]:
#from_product最简单
indexs = pd.MultiIndex.from_product([['期中','期末'],['语文','数学','外语']])
columns = ['tom','jack','rose']
data = np.random.randint(0,150,size=(6,3)) #6行三列
pd.DataFrame(data,index=indexs,columns=columns)

       tom  jack  rose
期中 语文   78   105    66
   数学   14    83    14
   外语   13    19    47
期末 语文   89    28    83
   数学   98    12   142
   外语    5    75    95