In [1]:
import numpy as np
import pandas as pd

In [3]:
t = pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))

t.iloc[1:,:2] = np.NAN

In [4]:
t

     W    X   Y   Z
a  0.0  1.0   2   3
b  NaN  NaN   6   7
c  NaN  NaN  10  11

In [6]:
pd.isnull(t)

       W      X      Y      Z
a  False  False  False  False
b   True   True  False  False
c   True   True  False  False

In [7]:
pd.notnull(t)

       W      X     Y     Z
a   True   True  True  True
b  False  False  True  True
c  False  False  True  True

In [16]:
t1 = t

In [17]:
#缺失值方法处理一:删除NaN
t1.dropna(axis=0,how='any',inplace=True) #how默认为any(只要存在NaN就会删除，而all是全为NaN删除),inpleace默认为False(Trun为直接修改原值)

In [18]:
t1

     W    X  Y  Z
a  0.0  1.0  2  3

In [19]:
t2 =  pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))

t2.iloc[1:,:2] = np.NAN

In [20]:
t2

     W    X   Y   Z
a  0.0  1.0   2   3
b  NaN  NaN   6   7
c  NaN  NaN  10  11

In [21]:
##缺失值方法处理二:用平均数填充
t2.fillna(t2.mean())

     W    X   Y   Z
a  0.0  1.0   2   3
b  0.0  1.0   6   7
c  0.0  1.0  10  11

In [22]:
t2

     W    X   Y   Z
a  0.0  1.0   2   3
b  NaN  NaN   6   7
c  NaN  NaN  10  11

In [24]:
t2["W"] = t2["W"].fillna(t2["W"].mean()) #单独填充某一列

In [25]:
t2

     W    X   Y   Z
a  0.0  1.0   2   3
b  0.0  NaN   6   7
c  0.0  NaN  10  11

In [26]:
t2["X"].mean() #pandas的nan不参与计算

1.0